section {
    position: relative;
    height: 100vh;
}

.section1 {
    height: 100vh;
    width: 100%;
    background-image: url('auto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.darkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

.tekstContainerDarkOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

.tekstContainerDarkOverlay h1 {
    font-weight: bolder;
    font-size: 70px;
}

.linkButton {
    display: inline-block;
    padding: 0.75em 2em;
    color: #fff;
    background: linear-gradient(45deg, #357be5, #39a83f);
    white-space: nowrap;
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 0.2s;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(229,57,53,0.15);
}

.linkButton:hover {
    background: #005be3;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-80%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

@media (max-width: 768px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }
    .tekstContainerDarkOverlay h1 {
        font-size: 60px;
    }
}

@media (max-width: 400px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }
    .tekstContainerDarkOverlay h1 {
        font-size: 50px;
    }

    nav img {
        max-width: 100%;
        height: auto;
        width: 130px;
        height: 40px;
        display: block;
    }

    .linkButton {
        padding: 0.25em 1em;
    }
}

