/*toepasbare styling:*/
body {
    background-color: rgb(36, 36, 36);
}

html {
    scrollbar-gutter: stable;
}

html {
    overflow-x: hidden;
}

hr {
    border-top: 1px solid #dee2e6;
}

.bold {
    font-weight: bold !important;
}

.big-title {
    font-size: 70px;
    font-weight: bolder;
    white-space: nowrap;
}

section {
    position: relative;
    min-height: 100vh;
}

footer {
    position: relative;
    z-index: 2;
}

.rounded-4 {
    border-radius: 20px;
}
.rounded-3 {
    border-radius: 15px;
}
.rounded-2 {
    border-radius: 10px;
}
.rounded-1 {
    border-radius: 5px;
}


.clamp-padding-section {
    padding-top: clamp(50px, 7vw, 90px);
    padding-left: clamp(4px, 10vw, 200px);
    padding-right: clamp(4px, 10vw, 200px);
    padding-bottom: clamp(50px, 7vw, 90px);
}

.darkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

.tekstContainerDarkOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

/*knopje*/

.gratis-proefles-balk {
    background: linear-gradient(45deg, #357be5, #39a83f);
    height: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 0px;
}

.gratis-proefles-balk a {
    box-shadow: 0 2px 8px rgba(71, 71, 71, 0.8);
}

.linkButton {
    display: inline-block;
    padding: 0.75em 2em;
    color: #fff;
    background: linear-gradient(45deg, #357be5, #39a83f);
    white-space: nowrap;
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 0.2s;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(229, 57, 53, 0.15);
}

.linkButton:hover {
    background: linear-gradient(45deg, #003e9b, #027708);
    color: white;
    text-decoration: none;
}

/*animaties*/

.slide-left-animate {
    opacity: 0;
    filter: blur(2px);
    transition: all 0.8s;
    transform: translateX(-80%);
}

.slide-left-animate.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.blur-animate {
    filter: blur(8px);
    transition: filter 1.2s;
}


.blur-animate.show {
    opacity: 1;
    filter: blur(0px);
}

.card-animate {
    transform: translateX(100%) scale(0.95);
}

.card-animate.show {
    transform: translateX(0) scale(1);
    transition: all 0.5s ease-out;
}

.card-animate2 {
    transform: translateX(100%) scale(0.95);
}

.card-animate2.show {
    transform: translateX(0) scale(1);
    transition: all 1s ease-out;
}

.card-animate3 {
    transform: translateX(100%) scale(0.95);
}

.card-animate3.show {
    transform: translateX(0) scale(1);
    transition: all 1.5s ease-out;
}

.Scale-animate {
    transform: scale(0.8);
}

.Scale-animate.show {
    transform: scale(1);
    transition: all 0.7s ease-out;
}

/*index pagina*/

.section1 {
    height: 100vh;
    background-image: url('images/autoWiel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*tweede sectie*/

.section2 small {
    color: rgb(170, 221, 255);
}

.section2 h2 {
    font-weight: bolder;
    font-size: clamp(2rem, 6vw, 50px);
    margin-bottom: 40px;
}

.section2 p {
    font-weight: 300;
    font-size: clamp(12px, 6vw, 20px);
    margin-bottom: 40px;
}

.clamp-img {
    width: clamp(300px, 40vw, 600px);
}

/*derde sectie*/

.section3 {
    border-top: 1px solid gray;
    padding-top: clamp(50px, 7vw, 90px);
    padding-left: clamp(4px, 10vw, 200px);
    padding-right: clamp(4px, 10vw, 200px);
    margin-bottom: 1px;
    background-color: rgb(42, 42, 42);
}

.section3 .row {
    gap: 20px;
}

/*vierde sectie*/


.section4 {
    border-top: 3px solid rgb(38, 102, 161);
    border-bottom: 3px solid rgb(38, 102, 161);
}

.section4 h2 {
    font-weight: bolder;
    font-size: clamp(2rem, 6vw, 50px);
    margin-bottom: 40px;
}

.section4 p {
    font-weight: 300;
    font-size: clamp(12px, 6vw, 20px);
    margin-bottom: 40px;
}

.tekstContainerDarkOverlay h1 {
    font-weight: bolder;
    font-size: 70px;
}



.card-price {
    font-size: clamp(1.2rem, 3vw, 2rem);
    color: #22ff00;
}

.card-pakket {
    background: linear-gradient(135deg, #19d900, #323232, #323232, #323232, #323232, #323232);
    border-radius: 20px !important;
    max-width: 350px;
}

.card-pakket-gold {
    background: linear-gradient(135deg, #ffcf3f, #323232, #323232, #323232, #323232, #323232);
    border-radius: 20px !important;
    max-width: 350px;
}

.card-pakket-gold::after {
        content: 'meest gekozen!';
        position: absolute;
        top: 12px;
        left: 12px;
        background: linear-gradient(90deg, #ffcf3f 70%, #ffe680 100%);
        color: #001343;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 3px 10px;
        border-radius: 12px 0 12px 0;
        box-shadow: 0 2px 8px rgba(0,0,0,0.12);
        z-index: 3;
        letter-spacing: 0.5px;
        border: 2px solid #fffbe6;
        pointer-events: none;
}


.card-pakket-gold h2 {
    position: relative;
    color: gold;
    font-size: clamp(20px, 8vw, 35px);
}

.card-pakket-gold p {
    font-size: clamp(18px, 4vw, 22px);
    font-weight: bold;
}



.card-pakket p {
    font-size: clamp(18px, 4vw, 22px);
    font-weight: bold;
}

.card-pakket h2 {
    font-size: clamp(20px, 8vw, 35px);
    font-weight: bold;
}

.persoonlijke-afspraak-card::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #b8b8b8;
    bottom: 10px;
}


.card-title {
    font-size: 30px;
    font-weight: bold;
}



/*Pakketten html css*/

.top-half-image {
    background-image: url('images/explaining.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

/*overOns html css*/
.card-review {
    font-family: "Georgia", serif;
    /* mooi font met echte quotes */
}

.card-review::after {
    content: "\201C";
    /* openende dubbele quote */
    color: #007bff;
    /* blauw */
    font-size: 8rem;
    position: absolute;
    right: 10px;
    top: 230px;
}

.darkOverlay-overons {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
    visibility: hidden;
}

.splitImageContainer {
    display: flex;
}

.splitImageContainer .split-image {
    width: 220px;
    height: 427px;
    background: url('images/driving.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 10px;
}

.splitImageContainer .split-image:nth-child(2) {
    background-position-x: -220px;
    width: 420px;
    border-radius: 10px;
}

.over-ons-section1 {
    border-bottom: 2px solid rgb(72, 197, 232);
    width: 100%;
    height: 600px !important;
}

.contact-formulier {
    position: relative;
}

.contact-formulier label {
    font-weight: bold;

}

.contact-formulier::after {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
    background-color: #19d900;
    pointer-events: none;
}

.proeflesInfo-contact {
    position: relative;
    background-color: rgb(128, 128, 128);
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.proeflesInfo-contact::after {
    content: '';
    background-color: #007bff;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -10px;
    top: -10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
}

.proeflesInfo-contact h2 {
    color: #ffffff;
}

@media (max-width: 1100px) {
    .splitImageContainer {
        width: 420px;
    }

    .splitImageContainer .split-image:nth-child(2) {
        background-position-x: -150px;
    }

    .big-title {
        font-size: 60px;
    }
}


@media (max-width: 768px) {
    .hide-when-small {
        display: none;
    }

    .splitImageContainer {
        display: none;
    }

    .darkOverlay-overons {
        visibility: visible;
    }

    .over-ons-section1 {
        background: url('images/driving.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }

    .tekstContainerDarkOverlay h1 {
        font-size: 60px;
    }

    .topbar ul {
        display: flex;
        list-style: circle;
        font-size: small;
    }

    .topbar span {
        display: block;
        list-style: circle;
    }

    .card-animate {
        transform: scale(0.5);
    }

    .card-animate.show {
        transform: scale(1);
        transition: all 0.5s ease-out;
    }

    .card-animate2 {
        transform: scale(0.5);
    }

    .card-animate2.show {
        transform: scale(1);
        transition: all 0.5s ease-out;
    }

    .card-animate3 {
        transform: scale(0.5);
    }

    .card-animate3.show {
        transform: scale(1);
        transition: all 0.5s ease-out;
    }
}

@media (max-width: 400px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }

    .tekstContainerDarkOverlay h1 {
        font-size: 50px;
    }

    nav img {
        max-width: 100%;
        height: auto;
        width: 130px;
        height: 40px;
        display: block;
    }

    .linkButton {
        padding: 0.25em 1em;
    }

    .card-pakket-gold::after {
        top: 6px;
        left: 6px;
        font-size: 0.6rem;
        padding: 2px 6px;
        border-radius: 8px 0 8px 0;
        border-width: 1px;
    }
}