.container1 {
    height: 100vh;
    width: 100%;
    background-image: url('auto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}

.darkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
}

.tekstContainerDarkOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

.tekstContainerDarkOverlay h1 {
    font-weight: bolder;
}

@media (max-width: 768px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }
    .tekstContainerDarkOverlay h1 {
        font-size: 1.5em;
    }

    nav img {
        max-width: 100%;
        height: auto;
        width: 150px;
        height: 50px;
        display: block;
    }
}

@media (max-width: 400px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }
    .tekstContainerDarkOverlay h1 {
        font-size: 1.5em;
    }

    nav img {
        max-width: 100%;
        height: auto;
        width: 130px;
        height: 40px;
        display: block;
    }
}

