.container1 {
    height: 100vh;
    width: 100%;
    background-image: url('auto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}

.darkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
}

.tekstContainerDarkOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

.tekstContainerDarkOverlay h1 {
    font-weight: bolder;
    font-size: 60px;
}

.linkButton {
    display: inline-block;
    padding: 0.75em 2em;
    color: #fff;
    background: linear-gradient(45deg, #357be5, #39a83f);
    white-space: nowrap;
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 0.2s;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(229,57,53,0.15);
}

.linkButton:hover {
    background: #005be3;
}

@media (max-width: 768px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }
    .tekstContainerDarkOverlay h1 {
        font-size: 45px;
    }
}

@media (max-width: 400px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }
    .tekstContainerDarkOverlay h1 {
        font-size: 40px;
    }

    nav img {
        max-width: 100%;
        height: auto;
        width: 130px;
        height: 40px;
        display: block;
    }

    .linkButton {
        padding: 0.25em 1em;
    }
}

