/*topbar*/
body {
    overflow-x: hidden;
    background-color: rgb(36, 36, 36);
}

hr {
    border-top: 1px solid #dee2e6;
}

.topbar {
    height: auto;
    padding: 5px;
    background-color: #0f88ad;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

section {
    position: relative;
    min-height: 100vh;
    height: auto;
}

/*eerste sectie*/

.section1 {
    height: 100vh;
    background-image: url('auto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*tweede sectie*/
.section2 {
    padding-top: clamp(50px, 7vw, 90px);
    padding-left: clamp(4px, 10vw, 200px);
    padding-right: clamp(4px, 10vw, 200px);
    padding-bottom: clamp(50px, 7vw, 90px);
}

.section2 small {
    color: rgb(170, 221, 255);
}

.section2 h2 {
    font-weight: bolder;
    font-size: clamp(2rem, 6vw, 50px);
    margin-bottom: 40px;
}

.section2 p {
    font-weight: 300;
    font-size: clamp(12px, 6vw, 20px);
    margin-bottom: 40px;
}

/*derde sectie*/

.section3 {
    border-top: 1px solid gray;
    padding-top: clamp(50px, 7vw, 90px);
    padding-left: clamp(4px, 10vw, 200px);
    padding-right: clamp(4px, 10vw, 200px);
    margin-bottom: 1px;
    background-color: rgb(42, 42, 42);
}

/*vierde sectie*/


.section4 {
    border-top: 3px solid rgb(38, 102, 161);
    border-bottom: 3px solid rgb(38, 102, 161);
    padding-top: clamp(50px, 7vw, 90px);
    padding-left: clamp(4px, 10vw, 200px);
    padding-right: clamp(4px, 10vw, 200px);
    padding-bottom: clamp(50px, 7vw, 90px);
}

.section4 h2 {
    font-weight: bolder;
    font-size: clamp(2rem, 6vw, 50px);
    margin-bottom: 40px;
}

.section4 p {
    font-weight: 300;
    font-size: clamp(12px, 6vw, 20px);
    margin-bottom: 40px;
}

.darkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

.tekstContainerDarkOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

.tekstContainerDarkOverlay h1 {
    font-weight: bolder;
    font-size: 70px;
}

.linkButton {
    display: inline-block;
    padding: 0.75em 2em;
    color: #fff;
    background: linear-gradient(45deg, #357be5, #39a83f);
    white-space: nowrap;
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 0.2s;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(229, 57, 53, 0.15);
}

.linkButton:hover {
    background: linear-gradient(45deg, #003e9b, #027708);
    color: white;
    text-decoration: none;
}

.icon-wrapper {
    height: 120px;
}

.card-icon {
    width: 4rem;
    height: 4rem;
}

.card-info {
    background-color: #00074b;
    border-radius: 5px;
    padding: 0.5rem;
}

.card-title {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-pakket-type {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.card-price {
    font-size: clamp(1.8rem, 5vw, 3rem);
}

.check-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: #90ee90;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 0.8s;
    transform: translateX(-80%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.card-animate {
    transform: translateX(100%) scale(0.95);
}

.card-animate.show {
    transform: translateX(0) scale(1);
    transition: all 0.5s ease-out;
}

.card-animate2 {
    transform: translateX(100%) scale(0.95);
}

.card-animate2.show {
    transform: translateX(0) scale(1);
    transition: all 1s ease-out;
}

.card-animate3 {
    transform: translateX(100%) scale(0.95);
}

.card-animate3.show {
    transform: translateX(0) scale(1);
    transition: all 1.5s ease-out;
}

.persoonlijke-afspraak-card::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #b8b8b8;
    bottom: 10px;
}


@media (max-width: 768px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }

    .tekstContainerDarkOverlay h1 {
        font-size: 60px;
    }

    .topbar ul {
        display: flex;
        list-style: circle;
        font-size: small;
    }

    .topbar span {
        display: block;
        list-style: circle;
    }

    .card-animate {
        transform: scale(0.5);
    }

    .card-animate.show {
        transform: scale(1);
        transition: all 0.5s ease-out;
    }

    .card-animate2 {
        transform: scale(0.5);
    }

    .card-animate2.show {
        transform: scale(1);
        transition: all 0.5s ease-out;
    }

    .card-animate3 {
        transform: scale(0.5);
    }

    .card-animate3.show {
        transform: scale(1);
        transition: all 0.5s ease-out;
    }
}

@media (max-width: 400px) {
    .tekstContainerDarkOverlay {
        width: 90%;
        font-size: 1.1em;
    }

    .tekstContainerDarkOverlay h1 {
        font-size: 50px;
    }

    nav img {
        max-width: 100%;
        height: auto;
        width: 130px;
        height: 40px;
        display: block;
    }

    .linkButton {
        padding: 0.25em 1em;
    }
}